<html>
<head>
    <title>Podcasts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <style type="text/css">
        #podcasts {
            margin: 10px;
        }
        .buttons {
            width: 10%;
            text-align: center;
        }
        .buttons a {
            font-size: 0.8em;
            margin: 2px;
        }
        .buttons a i {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
<table class="pure-table pure-table-bordered" id="podcasts">
    <thead>
        <tr>
            <th>Description</th>
            <th>Download</th>
        </tr>
    </thead>

    <tbody>
    {% for item in podcasts_configs %}
        <tr>
            <td><b>{{item.podcast.title}}</b><br/><a href="{{item.podcast.link}}">{{item.podcast.link}}</a><br/><br/>{{item.podcast.description|linebreaksbr}}</td>
            <td class="buttons"><a class="pure-button" href="{{item.get_public_url_pcast}}"><i class="fa fa-rss" aria-hidden="true"></i> PCAST</a><a class="pure-button" href="{{item.get_public_url}}"><i class="fa fa-code" aria-hidden="true"></i> XML</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>